@functionPower-prefix-cls: ~"@{css-prefix}functionPower";

.@{functionPower-prefix-cls} {

  position: relative;
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .buttonGroup {
    display: flex;
    .Button {
      min-width: 0;
      padding: 0 8px;
      border-radius:2px;
      font-size:12px;
      font-weight:400;
      box-sizing: border-box;
      margin-right: 10px;
      height: 22px;
      span {
        vertical-align: initial;
      }
    }
  }
  .content {
    flex: 1;
    margin-top: 10px;
    display: flex;
    overflow-y: hidden;
    .contentLeft {
      width: 240px;
      height: 100%;
      padding: 10px;
      border: solid 1px #d8d8d8;
      border-radius: 6px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      .menuContainer {
        flex: 1;
        margin-top: 10px;
        overflow-y: auto;

        .ark-tree-title {
          width: 100%;
          font-size: 12px;
          line-height: 26px;
        }
        .ark-tree-title-selected, .ark-tree-title-selected:hover {
          background-color: rgb(196, 226, 255);
        }

        .menuList {
          cursor: pointer;
          font-size: 12px;
          line-height: 26px;
        }
        .menuHighlight {
          background-color: rgb(196, 226, 255);
        }
      }
    }
    .contentRight {
      height: 100%;
      flex: 1;
      border: solid 1px #d8d8d8;
      border-radius: 6px;
      display: flex;
      width: 100%;
      .left-tree {
        width: 200px;
        padding: 10px;
        border-right: solid 1px #d8d8d8;
        overflow: auto;
        .ark-tree-title-selected, .ark-tree-title-selected:hover {
          background-color: rgb(196, 226, 255);
        }
      }
      .right-list {
        flex: 1;
        height: 100%;
        width: 10px;
        .ark-checkbox-inner {
          transition: 0s !important;
        }
        .upper-part {
          height: 60%;
          padding: 10px;
          border-bottom: solid 1px #d8d8d8;
          /*overflow-x: auto;*/
          /*overflow-y: hidden;*/
          .upper-table {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            .upper-table-tabth {
              position: relative;
              table {
                border-collapse: collapse;
                border-spacing: 0px;
                border: 0;
                box-sizing: border-box;
                background-color: #f5f6fa;
              }
              table th {
                box-sizing: border-box;
                padding: 3px 8px;
                font-weight: 400 !important;
                white-space: nowrap;
                text-align: left;
                min-width: 62px;
                border-bottom: 1px solid #e8eaec;
              }
              .functionColumnClass {
                text-align: left;
              }
            }
            .upper-table-tabtd-empty {
              height: calc(100% - 22px) !important;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #575757;
              font-size: 12px;
            }
            .upper-table-tabtd {
              overflow: auto;
              height: calc(100% - 22px) !important;
              .upper-table-tabtd-highlight {
                background-color: rgb(196, 226, 255);
              }
              table {
                border-spacing: 0px;
              }
              table td {
                padding: 4px 8px 4px 8px;
                font-weight: 400 !important;
                white-space: nowrap;
                text-align: left;
                border-bottom: 1px solid #e8eaec;
                min-width: 62px;
              }
              table tr:hover {
                background-color: #ecf0f1;
              }
            }
          }
        }
        .bottom-part {
          height: 40%;
          padding: 10px;
          .bottom-table {
            height: 100%;
            width: 100%;
            .bottom-table-tabth {
              width: 100%;
              position: relative;
              background-color: #f5f6fa;
              border-bottom: 1px solid #e8eaec;
              table {
                border-collapse: collapse;
                border-spacing: 0px;
                border: 0;
                box-sizing: border-box;
              }
              table th {
                box-sizing: border-box;
                padding: 5px 8px;
                font-weight: 400 !important;
                white-space: nowrap;
                text-align: left;
                min-width: 200px;
              }
            }
            .bottom-table-tbody {
              overflow: auto;
              height: calc(100% - 22px) !important;
              .bottom-table-tbody-highlight {
                background-color: rgb(196, 226, 255);
              }
              table {
                width: 100%;
                border-spacing: 0px;
              }
              table td {
                padding: 4px 8px 4px 8px;
                font-weight: 400 !important;
                white-space: nowrap;
                text-align: left;
                border-bottom: 1px solid #e8eaec;
                min-width: 200px;
              }
              table tr:hover {
                background-color: #ecf0f1;
              }
              table tr {
                width: 100%;
              }
              table tr:last-child {
                width: calc(100% - 200px);
              }
            }
            .bottom-table-tbody-empty {
              height: calc(100% - 22px) !important;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #575757;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .modalContent {
    .itemContent {
      display: flex;
      margin-bottom: 10px;
      overflow: hidden;
      .labelContent {
        margin-right: 4px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .labelTip {
          font-size: 16px;
          height: 10px;
          color: red;
          margin-right: 4px;
        }
      }
      .itemCom {
        width: 220px;
      }
    }
    .modalButton {
      width: 324px;
      display: flex;
      justify-content: flex-end;
      .Button {
        margin-left: 10px;
        min-width: 0;
        padding: 0 8px;
        border-radius:2px;
        font-size:12px;
        font-weight:400;
        box-sizing: border-box;
        height: 22px;
        span {
          vertical-align: initial;
        }
      }
    }
  }

}
