.R3-api-permission {
  height: 100%;
  overflow: hidden;
  .ark-btn {
    border-radius: 2px;
  }

  .ark-tooltip-inner {
    line-height: 18px;
  }

  .view-title {
    margin: 20px 0;
    font-size: 12px;
    border-left: 3px solid @primary-color;
    padding-left: 10px;
  }

  .content-area {
    display: flex;
    padding-bottom: 20px;
    height: calc(100% - 122px);
  }

  .account-list {
    flex: 0 0 550px;
    margin-right: 40px;
    height: 100%;

    .add-account-btn {
      margin-top: 20px;
    }

    .ark-scroll-wrapper {
      height: 100%;
    }
    .ark-scroll-container {
      height: 100% !important;
    }

    .none-wrap {
      height: calc(100% - 49px);
      border: 1px solid @border-color-base;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .none-tip {
        margin-top: 20px;
        color: @text-color;
      }
    }
  }

  // 账号item
  .R3-accout-item {
    border-radius: 4px;
    border: 1px solid @border-color-base;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px 10px;

    &.hight-light {
      background-color: @normal-color;
    }

    .accout-item-l {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .accout-row {
        display: flex;
      }

      .label {
        width: 100px;
        display: inline-block;
      }

      .key {
        margin-top: 6px;
        margin-bottom: 6px;
      }

      .serect {
        margin-right: 10px;
      }

      .value {
        font-weight: bold;
      }

      .refresh {
        height: 14px;
        width: 14px;
        display: inline-block;
        cursor: pointer;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
    }

    .accout-item-r {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .bottom-tip {
    color: @primary-color;
    text-align: center;
  }

  // 添加账号
  .operation-wrap {
    padding: 20px 0;
    border-bottom: 1px solid @border-color-base;
  }
  .R3-add-acount {
    width: 500px;
    padding: 0px 10px;
    display: inline-block;
    position: relative;

    .add-account-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .error-tip {
      color: @error-color;
      position: absolute;
      left: 10px;
      bottom: -20px;
    }

    .add-account-l {
      display: flex;
      align-items: center;
      .label {
        min-width: 90px;
      }
      .ark-input-wrapper {
        width: 200px;
      }
    }

    .add-account-r {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 160px;
      .ark-btn-info {
        background-color: #999;
        border-color: #999;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  // 接口权限
  .api-panel {
    flex: 1;
    min-width: 280px;
    height: 100%;
    padding: 0px 10px;
    position: relative;

    .api-header {
      height: 40px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      border-bottom: 1px solid @border-color-base;

      .save {
        height: 22px;
        line-height: 18px;
        border-radius: 2px;
        padding: 0 8px;
      }
    }

    .api-body {
      height: calc(100% - 40px);
    }

    .api-wrap {
      height: calc(100% - 36px);
      .content_wrap {
        height: 100%;
        .ark-input-wrapper {
          margin: 0 16px;
          display: block;
          width: auto;
        }
      }
    }

    .all-panel {
      padding: 10px 0 10px 20px;
    }

    .api-tree {
      border-radius: 4px;
      border: 1px solid @border-color-base;
      height: 100%;
      position: relative;

      .zTreeDemoBackground {
        height: calc(100% - 36px);
        overflow: auto;
      }

      .refresh {
        height: 14px;
        width: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
        cursor: pointer;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }

      // .disabled {
      //   background-color: #999;
      //   border-color: #999;
      // }

      .arrow-r {
        position: absolute;
        left: -34px;
        top: 32px;
      }
    }
  }
}
