@list-item-prefix-cls: ~"@{css-prefix}ListsForm";
@list-item-prefix-cls-box: ~"@{css-prefix}ListsForm-box";
@list-item-prefix-cls-content: ~"@{css-prefix}ListsForm-content";
@list-item-prefix-cls-button: ~"@{css-prefix}ListsForm-button";
@list-item-prefix-cls-small:~"@{css-prefix}ListsForm-small";
@list-item-prefix-cls-min:~"@{css-prefix}ListsForm-min";

@defaultCol: 4;  //控制一行展示的列数
.@{list-item-prefix-cls-box} {
  position: relative;
  margin-bottom:6px;
  .downComponent-context{
    position:static;
  }
}

.@{list-item-prefix-cls} {
  
  border: 1px solid @btn-disable-border;
  padding: 0 28px 8px 0;

  overflow-x: auto;
 
  .@{list-item-prefix-cls-content}{
    flex-wrap: wrap;
    display: flex;
    transition: height 0 ease;
    min-width: 600px;
    overflow: hidden;
    margin-bottom: 6px;

  }
  .item {
    width: percentage(1/@defaultCol);
    box-sizing: border-box;
  }
  .long{
    display: none;
  }
}

// @media screen and (max-width: 950px) {
//   .@{list-item-prefix-cls} {
//     .item {
//       width: percentage(1/3);
//     }
//   }
// }
  .@{list-item-prefix-cls-small} {
    .item {
      width: percentage(1/3);
    }
  }
  .@{list-item-prefix-cls-min} {
    .item {
      width: percentage(1/2);
    }
  }
.@{list-item-prefix-cls-button}{
  position: absolute;
  bottom: 18px;
  z-index: 100;
  right: 6px;
}