<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <title>Debug: Burgeon R3 Erp Frame</title>
    <style>
      html,
      body {
        font-family: "Microsoft YaHei", serif;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
      }
      div,
      ul,
      li {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
      ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important;
      }
    </style>
   <link href="http://oss.font.burgeononline.com/ztree/zTreeStyle-V3.5.40.css" rel="stylesheet">
   <link href="http://oss.font.burgeononline.com/CDN/@syman/ark-ui-bcl/1.3.1/ark.bcl.min.css" rel="stylesheet"></link>  
  </head>
  <body>
    <script>
  
      window.ProjectConfig = { 
          Version: '<%= Version %>',  //版本号
          enableGateWay: !('<%= enableGateWay %>' ==='false'),
        }

     
    </script>
   
    <!-- <script src="/static/js/ztree/jquery-1.4.4.min.js"></script> -->
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vuex.js"></script>
    <script src="/static/js/vue-router.js"></script>
    <script src="/static/js/axios.js"></script>

     <script src="/static/js/ark/dist/ark.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@syman/ark-ui@1.2.5/dist/ark.min.js"></script> -->
    <!-- <script src='https://ark-font.oss-cn-hangzhou.aliyuncs.com/CDN/@syman/ark-ui-bcl/1.3.1/ark.bcl.min.js'></script>     -->
    <script src="/static/js/ark-ui-bcl/publish/ark.bcl.min.js"></script>

    <!-- <script src="https://unpkg.com/burgeon-ui@1.0.43/dist/burgeon.min.js"></script> -->
    <!--<script src="https://cdn.jsdelivr.net/npm/@syman/ark-ui@1.1.40/dist/ark.min.js"></script>-->
     <!-- <script src="/static/js/ark.min.js"></script> -->
     <script src="/static/js/js-xss.min.js"></script>
    <script src="/static/js/jsencrypt.min.js"></script>
    <script src="/static/js/crypto-js.min.js"></script>

    <!-- <script src="/static/js/ztree/jquery.ztree.core.min.js"></script>
    <script src="/static/js/ztree/jquery.ztree.excheck.min.js"></script>
    <script src="/static/js/ztree/jquery.ztree.exhide.min.js"></script> -->

     
 <!-- ztree.core.min.js引用其它版本模糊查询会失效，暂不深究原因，固定使用3.5.24版本 -->
 
 <script src="http://oss.font.burgeononline.com/ztree/jquery-1.4.4.min.js"></script>
<script src="http://oss.font.burgeononline.com/ztree/jquery.ztree.all.min.js"></script>
<script src="http://oss.font.burgeononline.com/ztree/jquery.ztree.core.min.js"></script>
<script src="http://oss.font.burgeononline.com/ztree/jquery.ztree.excheck.min.js"></script>
<script src="http://oss.font.burgeononline.com/ztree/jquery.ztree.exhide.min.js"></script>
  </body>
</html>
